<!-- <div class="img"><img src="../assets/OIP.jpg"></div> -->
<h3>Press the wheel to land on a random prize</h3>
<h3>Or press the button to land on the corresponding prize</h3>

<div style="margin-left: 550px;">
<ngx-wheel
  #wheel
  [width]='400'
  [height]="400"
  [spinDuration]='8'
  [items]='items'
  [innerRadius]='20'
  [spinAmount]='10'
  [textOrientation]='textOrientation'
  [textAlignment]='textAlignment'
  pointerStrokeColor='black'
  pointerFillColor='gold'
  [idToLandOn]='idToLandOn'
  (onSpinStart)='before()'
  (onSpinComplete)='after()'
></ngx-wheel>
</div>
<div class="reset">
  <button (click)="reset()" style="height: 50px;width: 80px; background-color: yellow; margin-left: 400px;">Reset</button>
  <button (click)="start()" style="height: 50px;width: 80px; background-color: yellow; margin-left: 550px;">Start</button>
  
</div>

  

<div class="buttons" style="margin-left: 550px;">
  <button  (click)="openDialog()">Prize 0</button>
  <button (click)=" openDialog1()">Prize 1</button>
  <button (click)=" openDialog2()">Prize 2</button>
  <button (click)="openDialog3()">Prize 3</button>
  <button (click)=" openDialog4()">Prize 4</button>
  <button (click)="openDialog5()">Prize 5</button>
  <button (click)=" openDialog6()">Prize 6</button>
  <button (click)="openDialog7()">Prize 7</button>
  <button (click)=" openDialog8()">Prize 8</button>
  <button (click)="openDialog9()">Prize 9</button>
  <button (click)="openDialog10()">Prize 10</button>
  <button (click)="openDialog11()">Prize 11</button>
</div>

